# Virtual Environment
venv/
.env/
*.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyd
*.pdb

# Playwright Configuration
playwright/.cache/
test-results/
trace.zip
report.zip
videos/
screenshots/

# Temporary Files
*.log
*.tmp
*.bak
*.swp

# System Configuration
.DS_Store
Thumbs.db

# Pytest
.cache/
htmlcov/
.tox/
pytest_cache/
.coverage
*.cover
*.log

# Ignore all .xlsx files except challenge.xlsx
src/resource/data/*.xlsx
!src/resource/data/challenge.xlsx

# IDE Configuration Files
.idea/
.vscode/